SUPABASE_URL=https://rqfikgnlgxfjbatkrzhy.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxZmlrZ25sZ3hmamJhdGtyemh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk2MzAwMzMsImV4cCI6MjA3NTIwNjAzM30.w36canqA8OAcF7vqkoZVvNOviHaQZbgOaWmeARnQPp8
SUPABASE_DB_URL=postgresql://postgres.rqfikgnlgxfjbatkrzhy:ey%40mjCh%23%40x%258m8Z@aws-1-eu-north-1.pooler.supabase.com:5432/postgresVITE_SUPABASE_URL=YOUR_SUPABASE_URL
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
